################################################################################
##
## Alces Clusterware - Shell configuration
## Copyright (c) 2015-2017 Alces Software Ltd
##
################################################################################
cw_VERSION=1.7.0
cw_CODENAME="Grotesque Gerbil"
cw_STATUS=unconfigured
