################################################################################
##
## Alces Clusterware - Shell configuration
## Copyright (c) 2015-2016 Alces Software Ltd
##
################################################################################
cw_RELEASE=2016.05
cw_VERSION=1.4.1
cw_CODENAME="Different Dugong"
cw_STATUS=unconfigured
