################################################################################
##
## Alces Clusterware - Shell configuration
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
cw_RELEASE=3
