################################################################################
##
## Alces Clusterware - Shell configuration
## Copyright (c) 2008-2015 Alces Software Ltd
##
################################################################################
export cw_DIST="_OS_"
cw_DIST_permit_repos=("*")
