################################################################################
##
## Alces Clusterware - Shell configuration
## Copyright (c) 2016 Alces Software Ltd
##
################################################################################
cw_FLIGHT_RECORDER_enabled=false
#cw_FLIGHT_RECORDER_mimetype=application/x-www-form-urlencoded
#cw_FLIGHT_RECORDER_url=_URL_
#cw_FLIGHT_RECORDER_generator=_GENERATOR_
