################################################################################
##
## Alces Clusterware - Shell configuration
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
#cw_NAMING_access_key=""
#cw_NAMING_secret_key=""
#cw_NAMING_zoneid=""
cw_NAMING_secret="_SECRET_"
cw_NAMING_domain="cloud.compute.estate"
