################################################################################
##
## Alces Clusterware - Shell configuration
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
# Set maximum number of sessions a user can have active on a node at
# any one time, set to 0 to disable (default: 0).
#cw_SESSION_quota=0

# Set timeouts for warnings and session termination
# Times are specified in minutes. Set to 0 to disable.

# Terminate session after specified number of minutes. Set to 0 to
# disable termination entirely (default: 0).
#cw_SESSION_timeout=0

# Default session timeout if a user doesn't supply a runtime.  If set
# to 0, this will use the same as the maximum specified above
# (cw_SESSION_timeout). Default: 0.
#cw_SESSION_default_timeout=0

# First warning given specified number of minutes before termination
# (default: 30).
#cw_SESSION_warn_primary_time=30
# Second warning gieven specified number of minutes before termination
# (default: 0).
#cw_SESSION_warn_secondary_time=15

# Override default messages for the primary and secondary warnings.
# Include "\${runtime}" and "\${remain}" if you want to include either
# the total number of minutes and remaining number of minutes until
# termination.
#cw_SESSION_warn_primary_message="WARNING!\n\nThis session will reach its maximum permitted runtime (\${runtime} minutes)\nand be automatically terminated in \${remain} minutes.\n\nPlease complete or save your work as soon as possible."
#cw_SESSION_warn_secondary_message="WARNING!\n\nThis session will reach its maximum permitted runtime (\${runtime} minutes)\nand be automatically terminated in \${remain} minutes.\n\nPlease complete or save your work as soon as possible."

# Override default message given prior to the grace period before
# termination.
#cw_SESSION_timeout_message="Your session has reached its maximum permitted runtime (\${runtime} minutes)\nand will now be automatically terminated."

# Time in seconds between showing session timeout message and
# performing the termination (default: 30).
#cw_SESSION_termination_grace=30

# Default geometry to use for sessions if user does not specify a geometry
# (default: VNC server's default).
#cw_SESSION_geometry="1024x768"
