################################################################################
##
## Alces Clusterware - Shell configuration
## Copyright (c) 2015 Alces Software Ltd
##
################################################################################
cw_SSH_LOWEST_UID=500
cw_SSH_SKIP_USERS="root"
cw_SSH_KEYNAME=id_alcescluster
cw_SSH_DIR="$HOME/.ssh"
cw_SSH_LOG="$HOME/clusterware-setup-sshkey.log"
