: '
: SYNOPSIS: Identity information for this cluster
: HELP: Display information about the identity of this cluster.
: '
################################################################################
##
## Alces Clusterware - Metadata file
## Copyright (c) 2016 Alces Software Ltd
##
################################################################################
require files
require network
if files_load_config --optional config config/cluster; then
   cw_META_identity_cluster_name_desc="Cluster name"
   cw_META_identity_cluster_name="${cw_CLUSTER_name}"
   cw_META_identity_cluster_uuid_desc="Cluster UUID"
   cw_META_identity_cluster_uuid="${cw_CLUSTER_uuid}"
   if [ -r "${cw_ROOT}"/etc/config/cluster/auth.rc ]; then
       files_load_config auth config/cluster
       cw_META_identity_cluster_auth_desc="Cluster security token"
       cw_META_identity_cluster_auth="${cw_CLUSTER_auth_token}"
   fi

   files_load_config --optional instance config/cluster
   if [ "${cw_INSTANCE_role}" == "master" ]; then
       master_ip="$(network_get_iface_address ${cw_CLUSTER_iface:-$(network_get_first_iface)})"
   elif [ "${cw_CLUSTER_master}" ]; then
       master_ip="${cw_CLUSTER_master}"
   else
       master_ip="none (autodetect)"
   fi
   cw_META_identity_master_ip_desc="Master node IP address"
   cw_META_identity_master_ip="${master_ip}"
   unset master_ip
fi
