#==============================================================================
# Copyright (C) 2016-2017 Stephen F. Norledge and Alces Software Ltd.
#
# This file/package is part of Alces Clusterware.
#
# Alces Clusterware is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation, either version 3 of
# the License, or (at your option) any later version.
#
# Alces Clusterware is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this package.  If not, see <http://www.gnu.org/licenses/>.
#
# For more information on the Alces Clusterware, please visit:
# https://github.com/alces-software/clusterware
#==============================================================================
cw_HANDLER_rev="HEAD"
cw_HANDLER_track="feature/compute-queues"
cw_SESSION_rev="HEAD"
cw_SESSION_track="develop"
cw_SERVICE_rev="HEAD"
cw_SERVICE_track="feature/compute-queues"
cw_STORAGE_rev="HEAD"
cw_STORAGE_track="develop"
cw_SERVICE_registry_galaxy="galaxy-20160301-cw1_3"
cw_SERVICE_registry_s3cmd="s3cmd-20160810-cw1_6"
cw_SERVICE_registry_aws="aws-20160411-cw1_5"
cw_SERVICE_registry_git="git-20160615-cw1_5"
cw_SERVICE_registry_components="components-20170117-cw1_8"
cw_SERVICE_registry_alces_access_manager_daemon="alces-access-manager-daemon-20161021-cw1_7"
cw_SERVICE_registry_alces_storage_manager_daemon="alces-storage-manager-daemon-v1.2-cw1_7"
cw_SERVICE_registry_modules="modules-20161031-cw1_7"
cw_SERVICE_registry_gridware="gridware-20170704-cw1_9"
cw_SERVICE_registry_alces_flight_trigger="alces-flight-trigger-20170329-cw1_8"
cw_SERVICE_registry_clusterware_dropbox_cli="clusterware-dropbox-cli-v2.0.0-cw1_8"
