#==============================================================================
# Copyright (C) 2016 Stephen F. Norledge and Alces Software Ltd.
#
# This file/package is part of Alces Clusterware.
#
# Alces Clusterware is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation, either version 3 of
# the License, or (at your option) any later version.
#
# Alces Clusterware is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this package.  If not, see <http://www.gnu.org/licenses/>.
#
# For more information on the Alces Clusterware, please visit:
# https://github.com/alces-software/clusterware
#==============================================================================
cw_HANDLER_rev="6205aae2d4317e286a81ac73a23881b8f6b7888a"
cw_SESSION_rev="a6da5c7a6fb9e86dcea36e4758cc36f20c0bc41f"
cw_SERVICE_rev="caf793ce0c2905b33a25706caa068116922af463"
cw_STORAGE_rev="a4aebf75106c597f13ed87ecdd64177d5725d622"
cw_SERVICE_registry_galaxy="galaxy-20160301-cw1_3"
cw_SERVICE_registry_s3cmd="s3cmd-20160307-cw1_4"
cw_SERVICE_registry_aws="aws-20160411-cw1_5"
