#==============================================================================
# Copyright (C) 2016 Stephen F. Norledge and Alces Software Ltd.
#
# This file/package is part of Alces Clusterware.
#
# Alces Clusterware is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License
# as published by the Free Software Foundation, either version 3 of
# the License, or (at your option) any later version.
#
# Alces Clusterware is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this package.  If not, see <http://www.gnu.org/licenses/>.
#
# For more information on the Alces Clusterware, please visit:
# https://github.com/alces-software/clusterware
#==============================================================================
cw_HANDLER_rev="dfe83d78fc05cb0ba2456610ddf9c249fded79ee"
cw_SESSION_rev="1d88450911d6c9d8115b3695d073d554d513c965"
cw_SERVICE_rev="12627a7e492a0812b05fe9c3ecb7f37f7c21544a"
cw_STORAGE_rev="421efdc5a9cfe9a27a9d21a4a0ee863a3b451f35"
cw_SERVICE_registry_galaxy="galaxy-20160301-cw1_3"
cw_SERVICE_registry_s3cmd="s3cmd-20160307-cw1_4"
cw_SERVICE_registry_aws="aws-20160411-cw1_5"
cw_SERVICE_registry_git="git-20160615-cw1_5"
cw_SERVICE_registry_components="components-20160623-cw1_6"
